:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-logo-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style-type: none;
}

/* Шапка */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--black-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo span {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
  position: relative;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--title-text-color);
  padding: 32px 0;
  transition: color var(--timing-function) 250ms;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current::after {
  content: ' ';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
  border-radius: 2px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  padding: 32px 0;
  color: inherit;
  transition: color var(--timing-function) 250ms;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link:first-child {
  margin-right: 30px;
}

/* Герой */

.hero-section {
  padding: 200px 0;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 22px;
  min-width: 216px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: 0px solid transparent;
}
.hero-button:active {
  background-color: #188ce8;
}

/* Секції */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding: 94px 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.features-img {
  height: 120px;
  background-color: var(--additional-background-color);
  border: 0px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.list-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list.features-list {
  display: flex;
  gap: 30px;
}
.what-we-do.section {
  padding-top: 0;
}
.what-we-do.list {
  display: flex;
  gap: 30px;
}
.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.list-item.what-we-do {
  position: relative;
}

.what-we-do-overlay {
  position: absolute;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team.section {
  background-color: var(--additional-background-color);
}
.our-team.list {
  display: flex;
  gap: 30px;
}
.team-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-left: transparent solid 1px;
  border-bottom: transparent solid 1px;
  border-right: transparent solid 1px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-description {
  padding: 30px 0 16px 0;
}
.team-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  display: block;
  color: var(--team-logo-color);
  border-radius: 50%;
  border: 0px solid transparent;
  transition: color var(--timing-function) 250ms, background-color var(--timing-function) 250ms;
}
.team-social-logo-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.team-social-logo {
  fill: currentColor;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  height: 92px;
  width: 170px;
}
.clients-link {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--team-logo-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  transition: color var(--timing-function) 250ms;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}
.clients-logo {
  fill: currentColor;
}
/* Підвал */
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: var(--white-color);
  display: block;
  margin-bottom: 20px;
}
.footer-logo span {
  color: var(--accent-color);
}
.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration-line: none;
  display: block;
  margin-bottom: 9px;
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  text-decoration-line: none;
  display: block;
  transition: color var(--timing-function) 250ms;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-link:nth-child(2) {
  margin-bottom: 9px;
}
.footer-flex {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.footer-contacts {
  flex-shrink: 0;
}
.team-social-logo.footer-social-logo {
  fill: var(--white-color);
}
.team-social-link.footer-social-logo {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.team-social-link.footer-social-logo:hover,
.team-social-link.footer-social-logo:focus {
  background-color: var(--accent-color);
}
.footer-motivation {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  display: block;
}
/* Портфоліо */

.portfolio-button {
  font-family: inherit;
  background-color: var(--additional-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color var(--timing-function) 250ms, background-color var(--timing-function) 250ms,
    box-shadow var(--timing-function) 250ms;
}
.portfolio-button:first-child {
  padding: 6px 25px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio.list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.card-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% / 3) - 30px);
  transition: box-shadow var(--timing-function) 250ms;
  flex-grow: 0;
}
.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-link {
  color: inherit;
  text-decoration: none;
}
.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.card-description {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  translate: 0%;
  transition: translate var(--timing-function) 250ms;
}
.card-image-thumb {
  position: relative;
  overflow: hidden;
}
.card:hover .card-description {
  translate: 0 -100%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition: opacity var(--timing-function) 750ms, visibility var(--timing-function) 750ms;
  opacity: 100%;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  scale: 1;
  transition: scale var(--timing-function) 750ms;
  padding: 40px;
}
.button-close {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
}
.is-hidden {
  opacity: 0%;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  scale: 0.1;
}
.footer-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding: 16px 15px;
  color: var(--white-color);
}
.email-form {
  display: flex;
}

.footer-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 28px;
  min-width: 200px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 0px solid transparent;
  fill: var(--white-color);
}
.form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-wrapper {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
   transition: border var(--timing-function) 250ms;
}
.form-input:focus-within .input-wrapper {
  border: 1px solid var(--accent-color);}

  .text-area-wrapper {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border var(--timing-function) 250ms;
}
.form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-input {
  margin-bottom: 10px;
  position: relative;

}
.form-text:focus-within .text-area-wrapper {
  border: 1px solid var(--accent-color);
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill var(--timing-function) 250ms;
}
.form-input:focus-within .form-icon {
  fill: var(--accent-color);
}
.form-submit{
width: 200px;
height: 50px;
background-color: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
border: 0px solid transparent;
display: block;
margin: 0 auto;
cursor: pointer;
}
.checkbox-input{
appearance: none;
}
.checkbox-label{
position: relative;
left: 35px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.checkbox-label::before{
content: " ";
position: absolute; 
top: 0px;
left: -24px;
width: 16px;
height: 15px;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}

.checkbox-label::after{
content: "";
position: absolute;
top: 0px;
left: -24px;
width: 16px;
height: 15px;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
opacity: 0;
transition: opacity var(--timing-function) 250ms;
}

.checkbox-input:checked + .checkbox-label::after{
  opacity: 1;
}
.checkbox-terms{
color: var(--accent-color);
}