
.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;

    &__heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    }

    &__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    }

}
