.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap ;

    &__item {
    height: 92px;
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width:768px) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width:1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }
    }
    
    &__link {
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--team-logo-color);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid currentColor;
    transition: color var(--timing-function) 250ms;
    }

    &__link:hover,
    &__link:focus {
    color: var(--accent-color);
    }

    &__logo {
    fill: currentColor;
    }
}
