.features-list {
  

  @media screen and (min-width:768px) {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  }

&__item{
  flex-basis: calc((100% - 30px)/2);

  @media screen and (min-width:1200px) {
    flex-basis: calc((100% - 90px)/4);
  }
}

&__img {
  height: 120px;
  background-color: var(--additional-background-color);
  border: 0px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__header {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;

  @media screen and (min-width:768px) {
    text-align: start;
  }
}

&__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
}

