.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      gap: 70px;
      flex-direction: row;
      
    }
  }

  &__logo {
    color: var(--white-color);
    margin-right: 0;
    padding: 0;
    display: block;
    text-align: center;

    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__contacts {
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration-line: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 9px;
    text-align: center;
    
    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    text-decoration-line: none;
    display: block;
    transition: color var(--timing-function) 250ms;
    text-align: center;

    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link:nth-child(2) {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 9px;
    }
  }

  &__motivation {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__flex-tablet {
    display: flex;
    gap: 60px;
    flex-direction: column;

    @media screen and (min-width: 768px) {
     flex-direction: row;
      align-items: baseline;
      justify-content: space-around;

    }

     @media screen and (min-width: 1200px) {
      gap: 70px;
    }
  }

  &__social{
    @media screen and (min-width:1200px) {
      margin-right: 35px;
      
    }
  }
}
