.hero {
  padding: 118px 0;
  background-color: var(--secondary-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background-480px.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  
  @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background-480px@2x.jpg);
        }


  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-background-768px.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx){
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-background-768px@2x.jpg);
      }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-background-1600px.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-background-1600px@2x.jpg);
        }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
    max-width: 360px;

    @media screen and (min-width: 1200px) {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
      margin-bottom: 30px;
    }
  }

  &__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.888;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    padding: 10px 22px;
    min-width: 216px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: 0px solid transparent;
  }

  &__button:active {
    background-color: #188ce8;
  }
}
